.item {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}

.avatar img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.name {
    font-size: 10px;
    color: antiquewhite;
}