.users {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pagination {
    overflow-y: scroll;
    height: 88px;
}

.pagination span{
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
}
