.friends {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    text-align: center;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 3px;
    justify-items: center;
}
