.header {
    grid-area: header;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.auth h3 {
    margin: 0;
}

.auth button {
    margin: 0;
}