.error {
    color: red;
}

.remberMeContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.remberMeContainer>* {
    margin: 10px 0;
}

.remberMeContainer label {
    cursor: pointer;
}